body {
  display: flex;
  align-content: center;
  justify-content: center;
}

.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-family: Helvetica, Arial, sens-serif;
  font-weight: bold;
  font-size: 12px;
  width: 250px;
  flex-wrap: wrap;
}

h1 {
  font-size: 24px;
}

.top-container {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  width: 200px;
}




